body {
    background-color: #1a1a1a; /* noir profond */
    color: #e6d8a3; /* couleur savane claire */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2e2b24; /* noir légèrement chaud */
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

h1 {
    text-align: center;
    color: #f0e2b6;
}

#seance {
    margin-top: 20px;
}

.exercice {
    background-color: #3c3a2f;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e6d8a3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f0e2b6;
}
